.coming-soon-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  color: var(--accent);
}

.coming-soon-page h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.coming-soon-page p {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.2rem;
  color: var(--white);
}

sponsors-pdf, iframe {
  height: 100vh;
}

.sponsors-pdf {
  padding: 0 4rem;
}